
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}

img{
  background:white;
  border: 1px solid red;
}

.view{
  max-width:200px; 
  max-height:500px;
}

.output {
  position: absolute ;
  top:40px; 
  left:300px;
  clip:rect(0px,500px,500px,0px);  
}